#character_sheet {
    background-color: #69665e;
    border-style: solid;
    border-width: 2px;
}

#progressbar_stamina {
    border-style: solid;
    border-width: 2px;
    width: 300px;
    height: 40px;
    margin-left: 10px;
    background-color: #ddd;
}

#progressbar_state_stamina {
    width: 0%;
    height: 10px;
    background-color: #4CAF50;
    color: white;
}

#progressbar_state_stamina_text {
    display: inline-block;
    margin-left: 10px;
}

#progressbar_state_stamina_number {
    display: inline-block;
}

#progressbar_state_stamina_number_max {
    display: inline-block;
}

#progressbar_health {
    border-style: solid;
    border-width: 2px;
    width: 300px;
    height: 40px;
    margin-left: 10px;
    background-color: #ddd;
}

#progressbar_state_health {
    width: 0%;
    height: 10px;
    background-color: #DC143C;
    color: white;
}

#progressbar_state_health_text {
    display: inline-block;
    margin-left: 10px;
}

#progressbar_state_health_number {
    display: inline-block;
}

#progressbar_state_health_number_max {
    display: inline-block;
}

#progressbar_mana {
    border-style: solid;
    border-width: 2px;
    width: 300px;
    height: 40px;
    margin-left: 10px;
    background-color: #ddd;
}

#progressbar_state_mana {
    width: 0%;
    height: 10px;
    background-color: #1E90FF;
    color: white;
}

#progressbar_state_mana_text {
    display: inline-block;
    margin-left: 10px;
}

#progressbar_state_mana_number {
    display: inline-block;
}

#progressbar_state_mana_number_max {
    display: inline-block;
}

#recoveryButton {
    margin-left: 40px;
    float: right;
}

#character_name {
    border-style: solid;
    border-width: 2px;
    width: 180px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #ddd;
}

#money {
    border-style: solid;
    border-width: 2px;
    width: 100px;
    height: 40px;
    margin-left: 10px;
    background-color: #ddd;
}

#money_text {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    display: inline-block;
}

#money_number {
    display: inline-block;
    text-align: center;
}