#first_area {
    border-style: solid;
    border-width: 2px;
    margin-top: 40px;
    background-color: #03fc6f;
}

#farmworking {
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
}

#farmworkingButton {
    background-color: #dddddd;
    border-width: 2px;
    color: #000000;
    padding: 10px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    cursor: pointer;
}

#jobs_first_area {
    border-style: solid;
    border-width: 2px;
    width: 300px;
    height: 40px;
    margin-left: 10px;
    background-color: #ddd;
}