#main {
   background-color: #484848;
   width: 100%;
   border-style: solid;
   box-sizing: border-box;
}

#ressourceColumn,
#messageColumn,
#mainColumn {
   background-color: #adb3b3;
   width: 20%;
   border-style: solid;
   display: inline-block;
   vertical-align: top;
}

#mainColumn {
   width: 45%;
}

#ressourceColumn {
   width: 15%;
}

#worldTab,
#attributeTab,
#diaryTab {
   display: none;
}

#tabsFirstLine,
#tabsSecondLine {
   background-color: #2c8a8a;
   width: 95%;
   border-style: solid;
   display: block;
}
