#main {
    background-color: #484848;
    width: 100%;
    border-style: solid;
    box-sizing: border-box;
}

#ressourceColumn {
    background-color: #adb3b3;
    width: 20%;
    border-style: solid;
    display: inline-block;
}

#mainColumn {
    background-color: #adb3b3;
    width: 45%;
    border-style: solid;
    display: inline-block;
}

#messageColumn {
    background-color: #adb3b3;
    width: 20%;
    border-style: solid;
    display: inline-block;
}

#mainColumnFirstLine {
    background-color: #2c8a8a;
    width: 95%;
    border-style: solid;
    display: block;
}

#mainColumnSecondLine {
    background-color: #2c8a8a;
    width: 300px;
    border-style: solid;
    display: block;
}
